# Environment variables and PATH

export EDITOR="nvim"
export HISTSIZE=15000
export HUSKY=0

{{ if not (env "DEVCONTAINER") -}}
{{ if eq .chezmoi.os "darwin" -}}
# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="/opt/homebrew/opt/postgresql@17/bin:$PATH"

# rbenv
eval "$(rbenv init - --no-rehash zsh)"

# pnpm
export PNPM_HOME="$HOME/Library/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
{{ end -}}
{{ end -}}

# Universal PATH
export PATH="$HOME/.local/bin:$PATH"
