{{- $name := "Tim Sandberg" -}}
{{- $email := "tim.sandberg@monograph.com" -}}

{{- if stdinIsATTY -}}
{{-   $name = promptStringOnce . "name" "Full name" $name -}}
{{-   $email = promptStringOnce . "email" "Email address" $email -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
